In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
api_key='RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
summoner_name='내가 잘했구나'

In [3]:
requesturl='https://kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/%EB%82%B4%EA%B0%80%20%EC%9E%98%ED%96%88%EA%B5%AC%EB%82%98?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'

In [4]:
r=requests.get(requesturl)
r.json()
summoner_puuid='gNUeqQ-DC5wXZ9roU1Xb7ZNQqAm72KV0BXRRIXLUL9xWM-fC9yZ-Qvpx30oPjpyfsOSL5MJLvtD6dg'
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/by-puuid/gNUeqQ-DC5wXZ9roU1Xb7ZNQqAm72KV0BXRRIXLUL9xWM-fC9yZ-Qvpx30oPjpyfsOSL5MJLvtD6dg\
/ids?start=0&count=20&api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()

['KR_5505672847',
 'KR_5505641302',
 'KR_5505587082',
 'KR_5505512479',
 'KR_5505334513',
 'KR_5502446308',
 'KR_5502483687',
 'KR_5502452889',
 'KR_5502471918',
 'KR_5502461542',
 'KR_5452927871',
 'KR_5452955220',
 'KR_5443739062',
 'KR_5443414680',
 'KR_5443491153',
 'KR_5443366693',
 'KR_5413130017',
 'KR_5412899409',
 'KR_5412944427',
 'KR_5412799863']

In [5]:
matchid="KR_5505672847"

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5505672847?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [54]:
Match_01={'DDTC':44087, 'KDA':2.3},{'kindred'}

In [10]:
matchid='KR_5505641302'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5505641302?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [52]:
Match_2={'DDTC':6714, 'KDA':5.25},{'Blitzcrank'}

In [16]:
matchid='KR_5505587082'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5505587082?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [51]:
Match_3={'DDTC':1126,'KDA':0.0},{'Graves'}

In [19]:
matchid='KR_5505512479'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5505512479?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [50]:
Match_4={'DDTC':26302, 'KDA':8},{'LeeSin'}

In [22]:
matchid='KR_5505334513'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5505334513?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [49]:
Match_5={'DDTC':17942, 'KDA':1.57},{'Khazix'}

In [25]:
matchid='KR_5502446308'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5502446308?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [48]:
Match_6={'DDTC':13147, 'KDA':1},{'Samira'}

In [28]:
matchid='KR_5502483687'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5502483687?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [47]:
Match_7={'DDTC':35649, 'KDA':3.75},{'Irelia'}

In [32]:
matchid='KR_5502452889'

In [ ]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5502452889?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

In [46]:
Match_8={'DDTC':25381, 'KDA':6.33},{'Jinx'}

In [36]:
matchid='KR_5502471918'

In [37]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5502471918?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

,summonerName,teamId,championName,summoner1Id,summoner2Id,win,item0,item1,item2,item3,item4,item5,item6,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken,goldEarned,KDA,GPM,DPM,DTPM
0,DRX chopaa,100,Sylas,12,4,True,3802,2033,1026,1001,2010,0,3340,0,2,0,1734,3164,3618,0.0,354.127243,169.722675,309.690049
1,파크영,100,Nocturne,11,4,True,0,2031,3051,1001,0,0,3340,0,0,2,718,8630,3302,inf,323.197390,70.277325,844.698206
2,신천지교주김유성,100,Yone,3,4,True,1055,3006,6670,2003,0,0,3340,2,1,1,4479,3660,3286,3.0,321.631321,438.401305,358.238173
3,내가잘했구나,100,Samira,7,4,True,1055,6670,1053,0,0,0,3340,4,0,0,2160,3195,5003,inf,489.690049,211.419250,312.724307
4,Ps 빅벤,100,Alistar,14,4,True,2403,2055,3858,2003,3067,3047,3364,1,1,5,2204,3944,2935,6.0,287.275693,215.725938,386.035889
5,코 재워줄게,200,Lillia,4,12,False,1082,1001,0,1052,0,0,3340,1,0,1,2015,2003,2597,inf,254.192496,197.226754,196.052202
6,순둥이 라면,200,Zac,11,4,False,1039,2031,0,0,0,0,3340,1,0,0,137,2240,2563,inf,250.864600,13.409462,219.249592
7,양배추재배장인,200,Zed,14,4,False,3142,0,0,0,1001,0,3340,2,2,0,3312,4379,3397,1.0,332.495922,324.176183,428.613377
8,혁 켱,200,Lucian,21,4,False,6670,2031,1001,0,1055,0,3340,0,2,0,2454,3044,2985,0.0,292.169657,240.195759,297.944535
9,옥돌이,200,Xerath,7,4,False,2419,2003,2010,3851,3802,0,3364,0,4,0,2884,4195,2202,0.0,215.530179,282.283850,410.603589

In [45]:
Match_9={'DDTC':2160, 'KDA':4},{'Samira'}

In [40]:
matchid='KR_5502461542'

In [41]:
requesturl='https://asia.api.riotgames.com/lol/match/v5/matches/KR_5502461542?api_key=RGAPI-8cdb8cd5-1ad6-4772-931c-021d49eabda7'
r=requests.get(requesturl)
r.json()
pd.set_option('display.max_columns',None)
r.json()['info']['participants']
df = pd.DataFrame(r.json()['info']['participants'])
df
COLUMNS = ['summonerName','teamId','championName','summoner1Id','summoner2Id','win',
          'item0','item1','item2','item3','item4','item5','item6',
          'kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','goldEarned']
df2=df[COLUMNS]
df2
df3=df2.copy()
df3['KDA'] = (df3['kills'] + df3['assists']) / df3['deaths']
df3['GPM'] = df3['goldEarned'] / r.json()['info']['gameDuration'] * 60
df3['DPM'] = df3['totalDamageDealtToChampions'] / r.json()['info']['gameDuration'] * 60
df3['DTPM'] = df3['totalDamageTaken'] / r.json()['info']['gameDuration'] * 60
df3

,summonerName,teamId,championName,summoner1Id,summoner2Id,win,item0,item1,item2,item3,item4,item5,item6,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken,goldEarned,KDA,GPM,DPM,DTPM
0,김무무짱,100,Kennen,12,4,True,3152,0,3108,3020,2055,3191,3340,5,4,6,14941,9484,8346,2.750000,463.237743,829.287697,526.401480
1,클럽퀸,100,JarvanIV,11,4,True,6630,2031,3047,3044,0,1037,3364,6,1,12,11012,15498,8413,18.000000,466.956522,611.211841,860.203515
2,보금이전용숟가락,100,Kassadin,4,12,True,1058,3110,3070,2033,1082,3020,3364,7,0,2,9707,8437,8273,inf,459.185939,538.778908,468.288622
3,내가잘했구나,100,Xayah,7,4,True,1055,6671,3508,1001,1042,2055,3363,7,4,5,11408,10695,8720,3.000000,483.996300,633.191489,593.617021
4,Ps 빅벤,100,Alistar,14,4,True,3190,2055,3860,2031,1029,1001,3364,2,4,7,3699,9610,5105,2.250000,283.348751,205.309898,533.395005
5,크레토스,200,Sett,12,4,False,3111,6630,1028,1036,0,0,3340,3,6,0,8704,18364,5642,0.500000,313.154487,483.108233,1019.278446
6,유서스 멀린,200,XinZhao,11,4,False,2055,6630,2031,3111,1042,1036,3364,0,5,1,4841,17686,5437,0.200000,301.776133,268.695652,981.646623
7,낑낑석,200,Ekko,4,12,False,3152,2033,3020,3057,1052,0,3340,1,6,2,7644,13216,6124,0.500000,339.907493,424.273821,733.543016
8,Ugly Glory,200,MissFortune,7,4,False,2031,3006,3134,1037,6672,1055,3340,6,6,2,12532,12447,7694,1.333333,427.049029,695.578168,690.860315
9,Agriche,200,Rell,14,4,False,3859,3047,3190,2055,0,0,3364,2,4,6,6253,9172,4729,2.000000,262.479186,347.067530,509.084181

In [43]:
Match_10={'DDTC':11408,'KDA':3},{'Xayah'}